html, body, #container, #control-panel {
    height:100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}

h2, h3 {
    display: inline;
}

#container{position: relative;height: 100%;}

#dashboard{position: absolute;left: 0;top: 35px;}

.tabs{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    }

.tabs__title{
    padding: 15px;
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: white;
    border-bottom-color:  #c3c1bf;
}

.tabs__title--empty{
    flex-grow: 1;
}
.tabs__title--active{
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: #c3c1bf;
    border-bottom-color: white;
    background: #ffffff;
}

.tabs__header{
    display: flex;
    flex-shrink: 0;
}

.tabs__content{
    flex-grow: 1;
    display: flex;
    border: solid 1px #c3c1bf;
    border-top: none;
    overflow-y: hidden;
    padding: 10px;
    z-index: 0;
    /* background-color: antiquewhite; */
    }

.tabs__content > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    }

.control_panel_medium_width {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 700px;
}

.control_panel_full_width {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;}

#dialog {  
    position: absolute;
    left: 33%;
    top:40px;
    background-color: white;
    padding: 10px ;
    width: 400px;
    border-radius: 4px;
 }
#dialog_content {
    overflow: auto;
    max-height: 100%;
}
#dialog_content > ul {
    padding-left: 10px;
    margin: 0px;
}
#dialog_content > ul > li {
    list-style: none;
    padding-bottom: 5px;
    cursor: pointer;
}
#dialog_title { min-height: 30px;
                padding-bottom: 10px;
                font-size: 200%; }
#dialog_footer { min-height: 30px; 
                 padding-top: 10px;}
#dialog > p { padding: 2%; margin: 0}
#dialog > p:hover { background-color:darkgrey;}
.name-list {
    flex: 1;
    overflow: scroll;
}
.name-list > ul {
    padding-left: 0px;
    margin: 0px;
}
.name-list > ul > li {
    list-style: none;
    cursor: pointer;
}
.name-list > ul > li > p {padding: 6px 0px 4px 15px;margin: 0;}
.name-list > ul > li > p:hover { background-color:#eeeeee;}
.name-list > ul > li > p.selected { background-color:#cccccc;}
.name-list > ul > li > p.selected:hover { background-color:#cccccc;}
#modal { position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 999;
	 background-color: rgba(100, 100, 100, 0.5); }
.cellUi { position:absolute}
.cellUi > span{position: relative;margin: 5px;float: left;}
.hint { position:absolute;border: 1px solid rgba(0,0,0,0);}
.visible-grid, .visible-cell{ border: 1px solid rgba(200, 200, 200, 0.5); }
.code_invalid { border: solid rgb(255, 0, 0); }
.code_valid { border: solid rgb(25, 125, 255); }
div.invisible, .invisible {display: none !important}

#control-panel_Editor > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.animation_editor {
    display: flex;
    flex-grow: 1;
    /* height: 100%; */
    overflow: hidden;
}

#the_ace_editor {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

#blockly-editor {
    width: 100%;
    height: 600px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    /* margin-bottom: 0; */
    /* font-size: 14px; */
    /* font-weight: 400; */
    line-height: 1.42857143;
    /* text-align: center; */
    white-space: nowrap;
    /* vertical-align: middle; */
    -ms-touch-action: manipulation;
    /* -webkit-user-select: none; */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  rgb(248, 248, 248);
    border: 0px solid rgb(185, 185, 185);
    /* background-image: none; */
    border-radius: 4px;
}

.btn:disabled{
    background-color: white
}
.btn:hover:enabled{
    background-color: rgb(222, 222, 222);
    /* touch-action: manipulation; */
    cursor: pointer;
}

#menubar {
    margin-bottom: 5px;
}
#menubar-close {
    margin-right: 8px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}